@{
    ViewData["Title"] = "Hoş Geldiniz";
}

<div class="text-center">
    <h1 class="display-4">Selam .NET 10!</h1>
    <p>MVC yapısı başarıyla kuruldu. Şu an <code>_Layout.cshtml</code> içinden render ediliyorum.</p>
</div>